@font-face {
    font-family: "meltix";
    src: url(../fonts/Meltix_Regular_Demo.otf);
}

body {
    background: lightgray;
    overflow: hidden;
}

/* bootstrap */
.row {
    margin: 0;
    width: 100%;
    height: 100%;
}

.col, .col-sm-8, .col-sm-4, .col-sm-3, .col-sm-5, .col-sm-7 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-group {
    height: 100%;
    overflow-y: auto;
}

/* testing */

.s-nav {
    font-family: meltix;
}

.home-body, .list-body, .create-body, .stories-body, .snippets-body, .signup-body, .profile-body, .error-body {
	padding-top: 15px;
	padding-bottom: 15px;
    background-image: url(../img/wood.jpg);
    height: calc(100% - 56px);
}

.form-outer-container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.placeholder1 {
    height: 100px;
    width: 100%;
    background: red;
}

.placeholder2 {
    height: 100px;
    width: 100%;
    background: blue;
}

.placeholder3 {
    height: 100px;
    width: 100%;
    background: green;
}

.placeholder4 {
    margin: auto;
    height: 100%;
    width: 500px;
    background: yellow;
}

.empty-slot {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: lightgray;
	border: 3px solid #555;
}

.dropzone {
	height: 100%;
	width: 100%;
  	background: green;
  	padding: 1rem;
  	margin-top: 1rem;
}

.draggable {
	/*
	height: 100px;
	width: 100%;
  	padding: 1rem;
  	background: white;
  	border: 1px solid black;
  	*/
  	cursor: move;
}

.draggable.dragging {
  	opacity: .5;
}

.nav-bar-img {
    width: 125px;
    height: 125px;
}

.profile-img {
    width: 150px;
    height: 150px;
}

.comment-img {
	width: 100px;
	height: 100px;
}

img {
    max-height: 100%;
    max-width: 100%;
    border: 3px solid #555;
}

.media-body > h5 {
	display: inline-block;
}

.media-body > small {
	display: inline-block;
}

.error {
	color: red;
}

.popular-comment {
	height: 100%;
	width: 100%;
	background: lightgray;
	border: 3px solid #555;
}
