body {
    background: lightgray;
    overflow: hidden;
}

/* bootstrap */
.row {
    height: 100%;
}

.col, .col-sm-8, .col-sm-4 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-group {
    height: 100%;
    overflow-y: auto;
}

/* testing */

.home-body, .list-body, .create-body, .stories-body, .snippets-body, .signup-body, .profile-body {
    height: calc(100% - 56px);
}

.form-outer-container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.placeholder1 {
    height: 100px;
    width: 100%;
    background: red;
}

.placeholder2 {
    height: 100px;
    width: 100%;
    background: blue;
}

.placeholder3 {
    height: 100px;
    width: 100%;
    background: green;
}
