body {
    background: lightgray;
    overflow: hidden;
}

/* bootstrap */
.list-group {
    height: 100%;
    overflow-y: auto;
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

/* testing */

.home-body {
    height: 100%;
}

.placeholder1 {
    height: 100px;
    width: 100%;
    background: red;
}

.placeholder2 {
    height: 100px;
    width: 100%;
    background: blue;
}

.list-body {
    height: 100%
}